[build]
  command = "npm run build"
  publish = ".next"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  included_files = ["netlify/functions/**"]
  external_node_modules = []

[functions."process_excel"]
  runtime = "python3.9"

[[plugins]]
  package = "@netlify/plugin-nextjs"