@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --background-image-noise: linear-gradient(to bottom,
            color-mix(in oklab, var(--color-neutral-950) 0%, transparent),
            color-mix(in oklab, var(--color-neutral-950) 100%, transparent)),
        url('/images/noise.png');
    --color-primary: #2bdcd2;
    --color-primary-content: #171717;
    --color-secondary: #016968;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl;
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    h3 {
        @apply text-xl font-bold;
    }

    a:not(.btn) {
        @apply underline transition hover:opacity-80;
    }

    :not(pre)>code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }
}

@layer components {
    .markdown {
        >* {
            @apply my-4;
        }

        :where(h1, h2) {
            @apply mt-12 mb-6;
        }

        > :first-child {
            @apply mt-0;
        }

        > :last-child {
            @apply mb-0;
        }
    }

    .btn {
        @apply inline-flex items-center justify-center gap-2 font-bold text-center no-underline transition-colors cursor-pointer bg-primary text-primary-content;
        padding: var(--btn-py, 0.875rem) var(--btn-px, 1.25rem);
        font-size: var(--btn-font-size, 0.875rem);
        border-radius: var(--btn-border-radius, 0.25rem);

        &:hover {
            @apply bg-primary/85;
        }

        &:disabled {
            @apply cursor-default text-neutral-400 bg-neutral-700;
        }
    }

    .btn-lg {
        --btn-font-size: 1.125rem;
        --btn-px: 1.5rem;
        --btn-py: 1.125rem;
    }

    .input {
        @apply px-4 py-3 text-sm border rounded-sm border-neutral-300 text-neutral-900 focus:border-primary focus:outline-3 focus:outline-primary/30;
    }

    .diff {
        direction: ltr;
        container-type: inline-size;
        grid-template-columns: auto 1fr;

        &:focus-visible,
        &:has(.diff-item-1:focus),
        &:has(.diff-item-2:focus) {
            outline: 2px solid var(--color-gray-400);
            outline-offset: 1px;
        }

        &:focus-visible {
            .diff-resizer {
                min-width: 80cqi;
                max-width: 80cqi;
            }
        }

        &:has(.diff-item-2:focus-visible) {
            .diff-resizer {
                min-width: 20cqi;
                max-width: 20cqi;
            }
        }
    }

    .diff-resizer {
        width: 50cqi;
        max-width: calc(100cqi - 1rem);
        transform: scaleY(3) translate(0.35rem, 0.08rem);
        transform-origin: 100% 100%;
        clip-path: inset(calc(100% - 0.75rem) 0 0 calc(100% - 0.75rem));
        transition: min-width 0.3s ease-out, max-width 0.3s ease-out;
    }

    .diff-item-2 {
        &:after {
            content: '';
            width: 1.25rem;
            height: 1.875rem;
            position: absolute;
            top: 50%;
            right: 1px;
            bottom: 0;
            translate: 50% -50%;
            background: color-mix(in oklab, var(--color-white) 50%, transparent);
            border-radius: 9999px;
            border: 2px solid var(--color-white);
            backdrop-filter: blur(8px);
            pointer-events: none;
            z-index: 2;
            box-shadow: inset 0 0 0 1px color-mix(in oklab, var(--color-gray-900) 5%, transparent),
                0 1px 3px 0 color-mix(in oklab, var(--color-gray-900) 20%, transparent);
        }

        @supports (-webkit-overflow-scrolling: touch) and (overflow: -webkit-paged-x) {
            &:after {
                content: none;
            }
        }
    }

    .diff-item-1,
    .diff-item-2 {
        >* {
            height: 100%;
            width: 100cqi;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }
    }

    /* 弹窗组件外框样式 */
    .glass-card {
        @apply bg-white border border-sky-300 rounded-lg text-left shadow-2xl p-6 w-80 max-w-[90%] transition-all duration-300 hover:scale-101 hover:shadow-md hover:shadow-yellow-300
    }

    /* ok按钮样式 */
    .ok-button {
        @apply px-4 py-2 rounded-lg bg-sky-500 text-white hover:bg-sky-600 font-semibold transition-all duration-300
    }

    /* no按钮样式 */
    .no-button {
        @apply px-4 py-2 rounded-lg bg-gray-400 text-white hover:bg-gray-500 font-semibold transition-all duration-300
    }

    /* 画面背景样式 */
    .bg-style {
        @apply p-8 min-h-screen text-black bg-gradient-to-b from-sky-200 via-sky-100 to-white
    }

    /* 表格单元格悬浮时样式 */
    .table-hover {
        @apply hover:bg-yellow-200 transition-all duration-300
    }

    /* 表格div样式 */
    .table-div {
        @apply rounded-2xl shadow-lg p-4 bg-sky-50/70 border border-black backdrop-blur-sm hover:shadow-yellow-200 transition-all duration-300
    }

    /* 表格标题样式 */
    .table-title {
        @apply bg-sky-600 text-white border-1
    }

    /* 表格详细折叠样式 */
    .table-details {
        @apply mb-3 border border-sky-200 rounded-xl bg-white/60 hover:shadow-md hover:shadow-yellow-200 transition-all duration-300
    }

    /* 表格详细内容样式 */
    .table-details-content {
        @apply bg-sky-100 px-4 py-2 cursor-pointer rounded-xl hover:bg-yellow-200 text-sky-900 font-semibold transition-all duration-300
    }

    /* 標簽样式 */
    .tab-style {
        @apply px-4 py-2 bg-yellow-100 rounded border hover:scale-[1.05] transition-all duration-300
    }

    /* 文件读取组件 */
    .inputfile-item {
        @apply border text-black border-yellow-800 px-3 py-1.5 rounded-md text-sm cursor-pointer hover:border-yellow-600 hover:text-yellow-600 transition-all
    }

    /* 文件读取组件亮 */
    .inputfile-item-light {
        @apply border text-white border-white px-3 py-1.5 rounded-md text-sm cursor-pointer hover:border-yellow-200 hover:text-yellow-200 transition-all
    }

    .line-item {
        @apply h-1 border-0 bg-gradient-to-r from-gray-800 via-gray-600 to-transparent mt-10
    }

    .line-item {
        @apply h-1 border-0 bg-gradient-to-r from-gray-800 via-gray-600 to-transparent mt-10
    }

    /* 登录按钮样式 */
    .login-button {
        @apply px-4 py-2 rounded-lg bg-sky-400 hover:bg-sky-500 text-white font-semibold shadow-md hover:shadow-yellow-400 transition-all duration-300
    }

    /* 保存按钮样式 */
    .save-button {
        @apply px-4 py-2 rounded-lg bg-sky-400 hover:bg-sky-500 text-white font-semibold shadow-md hover:shadow-yellow-400 transition-all duration-300
    }

    /* 其他按钮样式 */
    .orther-button {
        @apply px-4 py-2 rounded-lg text-white font-semibold shadow-md hover:shadow-yellow-400 bg-yellow-600 hover:bg-yellow-700 transition-all duration-300
    }

    /* clear按钮样式 */
    .clear-button {
        @apply px-4 py-2 rounded-lg bg-gray-400 hover:bg-gray-500 text-white font-semibold shadow-md hover:shadow-yellow-300 transition-all duration-300
    }

    /* === 文字阴影 === */
    .text-shadow {
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.205);
    }

    .text-shadow-pink {
        text-shadow:
            0 0 5px #ffb6c1,
            0 0 10px #ff69b4,
            0 0 20px #ff1493;
        /* 粉色梦幻光晕 */
    }

    .rsm-geography:focus {
        outline: none;
    }

}

@keyframes fly {
    0% {
        transform: translateX(-50px) translateY(0px) rotate(-5deg);
    }

    50% {
        transform: translateX(50px) translateY(-20px) rotate(5deg);
    }

    100% {
        transform: translateX(-50px) translateY(0px) rotate(-5deg);
    }
}

.fly-animation {
    animation: fly 6s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translateX(-10px) translateY(0px) rotate(-5deg);
    }

    50% {
        transform: translateX(10px) translateY(-20px) rotate(5deg);
    }

    100% {
        transform: translateX(-10px) translateY(0px) rotate(-5deg);
    }
}

.move-animation {
    animation: move 6s ease-in-out infinite;
}

@layer components {

    /* === 时钟样式 (react-clock) === */
    .react-clock {
        background-color: #b3b2b0;
        /* 表盘 */
        border: 5px solid #575552;
        /* 边框 */
        border-radius: 50%;
        box-shadow:
            0 4px 20px rgba(0, 0, 0, 0.3),
            inset 0 0 10px rgba(0, 0, 0, 0.2),
            inset 0 0 5px #fff3;
    }

    .react-clock__face {
        background-color: #f8f3e6;
        border-radius: 50%;
    }

    .react-clock__mark__body {
        background-color: #3a2c1a;
        /* 刻度 */
        width: 2px;
    }

    .react-clock__hand__body {
        background-color: #3a2c1a;
        /* 时针分针颜色 */
    }

    .react-clock__second-hand__body {
        background-color: #b30000;
        /* 秒针 */
    }

    .react-clock__second-hand__body::after {
        content: "";
        position: absolute;
        background-color: #b30000;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        top: -3px;
        left: 50%;
        transform: translateX(-50%);
    }

    .react-clock__mark__number {
        color: #3a1a2f;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
}